body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 10px;
}


a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.testimonal-para, h3 {
    font-size: 36px;
    font-style: italic;
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: lightpink;
    color: black;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: pink;
}

.header-links {
    margin-left: auto;
}

.main-header {
    background-color: rgb(255, 222, 226);
}



.top-header {
    display: flex;
    padding: 10px;
}

.main-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 30px;
    flex-wrap: wrap;
}

.left-main-content {
    max-width: 400px;
    flex-shrink: 0;
}

.main-picture {
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

.harman-picture,
.gurleen-picture {
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tutors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.testimonal {
    display: flex;
    background-color: rgb(228, 228, 228);
    margin-top: 50px;
    padding: 50px;
    justify-content: center;
}

.testimonal-container {
    display: flex;
    flex-direction: column;
}

.quote-name {
    margin-left: auto;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 20px;
    background-color: rgb(255, 222, 226);
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}